/* Poppins Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
	font-family: 'Poppins', sans-serif;
}
h1{
    font-weight: 600;
    font-size: calc(2rem + 1vw);
    text-align: center;
    color: #1D1D1D;
}
p{
    color: #777777;
    line-height: 30px;
}
.edu-primary{
    color: #289BDE;
}
/* Header CSS */
header .fixed-nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    padding: 25px 0 25px;
}
.slide{
    margin-top: 100px;
}
.item-1, .item-2, .item-3{
    background-size: cover;
    background-position: center;
    /* background-attachment: fixed; */
    background-repeat: no-repeat;

}
.item-1{
    background-image: url(../images/cover/cover-1.png);
}
.item-2{
    background-image: url(../images/cover/cover-2.jpg);
}
.item-3{
    background-image: url(../images/cover/cover-3.jpg);
}
.carousel-item .overlay {
    background: rgba(29, 29, 29, 0.7);
    overflow: hidden;
}
.carousel-item .text{
    height: 100vh;
    padding: 10vh 15vw;
}
.carousel-item .text h1{
    color: #fff;
    margin-bottom: 20px;
}
.carousel-item .text p{
    color: #fff;
}
.slide-btn{
    border: none;
    background: transparent;
}
.text-btn{
    margin-top: 14px;
}
.bg-edu-primary{
    background: #289BDE;
}
.edu-btn{
    border-radius: 5px;
    padding: 13px 33px;
    border: 1px solid #289BDE;
}

/* Popular Courses */
.popular_courses{
    margin-top: 130px;
}
.all_courses{
    margin-top: 3.125rem;
}
.all_courses .card .img-fluid{
    width: 100%;
    height: -webkit-fill-available;
    object-fit: cover;
}
.all_courses .card-title{
    font-weight: 600;
    font-size: 25px;
    line-height: 38px;
    color: #4A4A4A;
}
.all_courses .card-price{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}
.course_btn{
    margin-top: 50px;
}

/* explore */
.explore{
    margin: 130px auto;
}
.explore .card{
    background: #F4FAFD;
}

 /* Register Now */
.join_now{
    margin-top: 130px;
    padding: 80px 100px;
}
.join_now .reg-col{
    text-align: end;
}
.join_now form .mb-3 {
    text-align: start;
}

/* FAQ */
.faq{
    max-width: 872px;
    margin: 130px auto;
}
.faq .text{
    text-align: center;
}
.faq .accordion-item:not(:first-of-type) {
    border: var(--bs-accordion-border-width) solid var(--bs-accordion-border-color)!important;
    margin-top: 20px;
}

/* Trusted Section */
.trusted_section{
    margin-bottom: 130px;
}

/* Footer */
footer{
    padding: 8rem 0;
}
footer p, footer span a{
    color: #E8E8E8;
    text-decoration: none;
}
footer span a:hover{
    color: #fff;
}
.social_icons a{
    color: #fff;
    text-decoration: none;
    background: #242424;
    height: 40px;
    width: 40px;
    margin-top: 20px;
    margin-left: 12px;
    padding: 12px;
    transition: background 0.9s linear, color 0.3s linear;
}
.social_icons a:hover{
	background: #fff;
    color: #000;
}

/* Tablet Responsive */
@media (max-width: 991.98px) {
    .popular_courses {
        margin-top: 4rem;
    }
    /* explore */
    .explore{
        margin: 60px auto;
    }
    .explore img{
        height: -webkit-fill-available;
        object-fit: cover;
    }
    .explore .text{
        overflow: hidden;
        /* white-space: nowrap; */
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
    }
    .explore a{
        text-decoration: none;
    }
    /* Register Now */
    .join_now{
        margin-top: 60px;
        padding: 58px 100px;
        text-align: center;
    }
    .join_now .reg-col{
        text-align: center;
    }
    .join_now h1{
        text-align: center!important;
    }
    .faq{
        margin-top: 4rem;
    }
    footer{
        padding: 4rem 0;
    }
}

/* Mobile Responsive */
@media (max-width: 767.98px) {
    h1{
        font-size: calc(1.1rem + 1.2vw);
    }
    .carousel-item .text {
        padding: 10vh 15vw;
    }
    .carousel-item .text h1 {
        margin-bottom: 10px;
    }
    .carousel-item .text p {
        font-size: 15px;
        line-height: 22px;
    }
    .text-btn {
        margin-top: 4px;
    }
    .popular_courses {
        margin-top: 2rem;
    }
    .all_courses{
        margin-top: 1rem;
    }
    .course_btn {
        margin-top: 1.5rem;
    }
    /* explore */
    .explore{
        margin: 32px auto;
    }
    /* Register Now */
    .join_now{
        margin: 32px auto;
        padding: 15px 30px;
    }
    .faq{
        margin-top: 2rem;
    }
    footer{
        padding: 2rem 3rem;
    }
}